.aa{
    width: 657.19px;
    height: 78.77px;
   
    rotate: 0.4 deg;
    font-family: Caveat;
font-size: 70px;
font-weight: 700;

text-align: left;
color:black

}
.bb{
    font-family: Nunito;
font-size: 28px;
font-weight: 400;

text-align: left;
width: 610px;
height: 32px;
color: #414141;

}