.aa{
    font-family: Caveat;
font-size: 70px;
font-weight: 700;
line-height: 88.2px;
text-align: left;
rotate: .4deg;
}
.bb{
    font-family: Nunito;
font-size: 28px;
font-weight: 400;
line-height: 38.19px;
text-align: left;
width: 610px;
height: 32px;

}